- title "Listing Articles"

- content_for :kaminari_per_page do
  = form_tag nil, class: "inline form-inline", method: :get do
    .form-group
      = select_tag :per_page, options_for_select(per_page_options, selected: params[:per_page]), id: "article_per_page", class: 'form-control'

- if can?(:create, Article)
  = link_to new_article_path, class: 'btn btn-primary', title: 'New Article' do
    %span.glyphicon.glyphicon-plus
    New Article

= paginate @articles

= render @articles
