- title "Article : #{@article.title}"

%p
  %b Title:
  = @article.title
%p
  %b Permalink:
  = @article.permalink
%p
  %b Excerpt:
  = @article.excerpt
%p
  %b Content:
  = @article.content
%p
  %b Published at:
  = @article.published_at
