- title "Listing Users"

- content_for :kaminari_per_page do
  = form_tag nil, class: "inline form-inline", method: :get do
    .form-group
      = select_tag :per_page, options_for_select(per_page_options, selected: params[:per_page]), id: "user_per_page", class: 'form-control'

= link_to 'New User', new_user_path

= paginate @users

%table.table.table-striped.table-condensed.table-hover#users
  %thead
    %tr
      %th Email
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, user
        %td.action-button
          .pull-right
            = link_to 'Edit', edit_user_path(user)
        %td.action-button
          .pull-right
            = link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' }
