- title "Listing Users"

- content_for :kaminari_per_page do
  = form_tag nil, class: "inline form-inline", method: :get do
    .form-group
      = select_tag :per_page, options_for_select(per_page_options, selected: params[:per_page]), id: "user_per_page", class: 'form-control'

- if can?(:create, User)
  = link_to 'New User', new_user_path

= paginate @users

%table.table.table-striped.table-condensed.table-hover#users
  %thead
    %tr
      %th Email
      - if can?(:edit, User)
        %th
      - if can?(:destroy, User)
        %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, user
        - if can?(:edit, user)
          %td.action-button
            .pull-right
              = link_to edit_user_path(user), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Edit
        - if can?(:destroy, user)
          %td.action-button
            .pull-right
              = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
                %i.glyphicon.glyphicon-remove
                Remove
