- title "User : #{@user.email}"

%table.table
  %thead
    %th Email
    %th Roles
    %th
    %th
  %tbody
    %tr
      %td= mail_to @user.email
      %td= @user.roles.pluck(:name).join(", ")
      %td.action-button
        .pull-right
          = link_to edit_user_path(@user), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-pencil
      %td.action-button
        .pull-right
          = link_to @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            %i.glyphicon.glyphicon-remove
