- title "User : #{@user.email}"

%table.table
  %thead
    %th Name
    %th Email
    %th Roles
    - if can?(:edit, @user)
      %th
    - if can?(:destroy, @user)
      %th
  %tbody
    %tr
      %td= @user.name
      %td= mail_to @user.email
      %td= @user.roles.pluck(:name).join(", ")
      - if can?(:edit, @user)
        %td.action-button
          .pull-right
            = link_to edit_user_path(@user), class: 'btn btn-default' do
              %i.glyphicon.glyphicon-pencil
              Edit
      - if can?(:destroy, @user)
        %td.action-button
          .pull-right
            = link_to @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
              %i.glyphicon.glyphicon-remove
              Remove
